body {
    font-family: 'DM Sans', sans-serif;
    color: #f1f5f6;
    background-color: #202e38;
    margin: 0px;
}

header {
    text-align: center;
}

header h1 {
    font-size: 3.5vmax;
    font-weight: 700;
    margin: 2em auto 0;
}

header h5 {
    font-size: 2vmax;
    font-weight: 400;
    margin: 0 auto 2em;
}

#table {
    overflow-x: auto;
}

#table-inner {
    display: grid;
    grid-template-columns: repeat(9, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    padding: 24px 0px;
    min-width: 1024px;
}

.table-item {
    padding: 3px;
    width: 94px;
    height: 94px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.table-item:hover {
    transform: scale(1.1);
}

.table-item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    width: 74px;
    height: 94px;
    border-radius: 3px;
    background-color: #202e38;
    transition: all 0.3s ease;
}

.table-item-inner:hover, .highlight {
    background-color: transparent;
    color: #222;
}

.title {
    font-size: 35px;
    font-weight: 700;
}

.description {
    font-size: 12px;
    margin-top: -0.2em;
}

#legend-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 750px) {
    #legend-inner {
        flex-direction: column;
    }
}

.legend-item {
    display: flex;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    border: 1px dashed transparent;
    border-radius: 5px;
}

.legend-item label {
    cursor: pointer;
}

.selected {
    border: dashed 1px #f1f5f6;
}

.legend-item-marker {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right: 5px;
}

input[type="checkbox"] {
    display: none;
}
